<form class='todo-list__new-item-form'>
  {{input value=newTodoTitle}}
  <button type='submit' {{action 'addNewTodo'}}>Add</button>
</form>

{{#if todos.length}}
  <ul class='todo-list__listing'>
    {{#each todos as |todo|}}
      {{todo-item todo=todo onToggle=toggleTodoComplete}}
    {{/each}}
  </ul>
{{else}}
  <div>All cleared!</div>
{{/if}}
